{% import '_includes/forms' as forms %}

{% macro configWarning(setting, file) -%}
    &nbsp;{{ "This is being set by the {setting} config setting in <code>config/rollbar.php</code>."|t('rollbar', {
        setting: '<code>'~setting~'</code>'
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% if not settings.reporting %}
    <div class="field" style="margin-top:0">
        <p class="warning">&nbsp;{{ 'Reporting is currently disabled for this environment (<code>{environment}</code>).'|t('rollbar', {
            environment: settings.environment
        })|raw }}</p>
    </div>
    <hr>
{% endif %}

{{ forms.textField({
    first:   true,
    class:   configFile['accessToken'] ?? false ? 'disabled',
    label:   'Access Token'|t('rollbar'),
    warning: configFile['accessToken'] ?? false ? configWarning('accessToken'),
    name:    'accessToken',
    value:   settings.accessToken,
    required: true,
    errors:  settings.getErrors('accessToken'),
}) }}

{{ forms.textField({
    label:   'Client Access Token'|t('rollbar'),
    class:   configFile['clientAccessToken'] ?? false ? 'disabled',
    name:    'clientAccessToken',
    warning: configFile['clientAccessToken'] ?? false ? configWarning('clientAccessToken'),
    value:   settings.clientAccessToken,
    errors:  settings.getErrors('clientAccessToken'),
}) }}

{{ forms.textField({
    disabled: true,
    static:   true,
    label:    'Environment'|t('rollbar'),
    warning:  configFile['environment'] ?? false ? configWarning('environment'),
    name:     'environment',
    value:    settings.environment,
    errors:   settings.getErrors('environment'),
}) }}

<hr>

{{ forms.textField({
    label:   'Ignore Error Codes'|t('rollbar'),
    class:   configFile['ignoreHTTPCodes'] ?? false ? 'disabled',
    warning: configFile['ignoreHTTPCodes'] ?? false ? configWarning('ignoreHTTPCodes'),
    name:    'ignoreHTTPCodes',
    value:   settings.ignoreHTTPCodes,
    errors:  settings.getErrors('ignoreHTTPCodes'),
}) }}

{{ forms.textareaField({
    label: 'Ignore Rules'|t('rollbar'),
    class: configFile['ignoreRules'] ?? false ? 'disabled',
    warning: configFile['ignoreRules'] ?? false ? configWarning('ignoreRules'),
    name: 'ignoreRules',
    rows: 4,
    value: settings.ignoreRules|join("\n"),
    errors: settings.getErrors('ignoreRules'),
}) }}

<hr>

{{ forms.lightswitchField({
    label:    'Track JavaScript Errors'|t('rollbar'),
    disabled: configFile['jsTracking'] is defined,
    class:    configFile['jsTracking'] is defined and not configFile.jsTracking ? 'disabled',
    name:     'jsTracking',
    warning:  configFile['jsTracking'] is defined ? configWarning('jsTracking') : null,
    on:       settings.jsTracking,
    errors:   settings.getErrors('jsTracking'),
}) }}

<hr>

<div class="buttons">
    <div id="test" class="btn formsubmit" data-action="rollbar/settings/test">
        {{ 'Test'|t('rollbar') }}
    </div>
</div>
